<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO" monitorInterval="1800">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%line] - %msg%n" />
		</Console>
	<!-- 
		<Flume name="Flume" compress="false">
			<Agent host="logging.lifesense.com" port="41413" />
			<Agent host="logging.lifesense.com" port="41414" />
			<Agent host="logging.lifesense.com" port="41415" />
			<JSONLayout complete="true" />
		</Flume>
		<Async name="Async" blocking="false" bufferSize="1280">
			<AppenderRef ref="Flume" />
		</Async>
 -->
	</appenders>

	<loggers>
		<root level="TRACE">
			<appender-ref ref="Console" />
		</root>
	</loggers>

</configuration>